---

---

<section class="bg-[#d8d6cd] grid grid-cols-1 md:grid-cols-2 place-items-center gap-4 p-6">
  <div>
    <a href="#" class="font-display text-3xl">EB</a>
  </div>
  <div class="text-center md:text-left">
    <p class="font-sans text-2xl">Kontakt mig på:</p>
    <p class="font-sans text-2xl">Embu0002@stud.ek.dk</p>
  </div>
</section>
